html {
    height: 100%;
    box-sizing: border-box;
    background: grey;
}

body {
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    min-height: 100%;
}

/* Header style */
header {
    background-color: darkgreen;
    color: white;
    text-align: center;
    grid-area: header;
}

/* Navigation bar style */
nav {
    width: 100%;
    text-align: center;
    margin: 0;
    background-color: lightgrey;
    /* border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px; */
    grid-area: navbar;
}

nav ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    width: 100%;
    text-align: center;
}

.nav-link {
    width: 100%;
    text-decoration: none;
    color: black;
}

.router-link-active {
    font-weight: bolder;
}

/* Main content style */
.mainContent {
    margin: 0;
    grid-area: maincontent;
    background: white;
}

section h1 {
    padding:0.25em;
    color: green;
    margin: 0;
    grid-area: title;
}
section .period {
    margin-top:0.25em;
    padding:0.25em;
    grid-area: period;
}
section .description {
    padding:0.25em;
    margin:0;
    grid-area: description;
}
section .description h2,h3,h4,p{
    margin:0;
    margin-top:0.25em;
    margin-bottom:0.25em;
    text-align: justify;
}
.descriptionTitleGrid .label{
    grid-area: label;
}
.descriptionTitleGrid .lineTitle{
    grid-area: lineTitle;
}
.sectionSeparator{
    margin-left: 5em;
    margin-right: 5em;
    border-style: solid;
    border-width: 1px;
    color: green;
}

/* Footer style */
footer {
    font-size: 0.75em;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 0.5em;
    grid-area: footer;
}

/* Responsive web design */
@media screen and (max-width: 500px) {
    .nav-toggle {
        cursor: pointer;
    }
    .main-nav {
        display: none;
    }    
    .active {
        display: block;
    }

    section .description h2,h3{
        margin:0;
        margin-top:0.25em;
        margin-bottom:0.25em;
        text-align: initial;
    }

    hr {
        display: none;
    }
    header h1 {
        margin: 0;
    }
}
@media screen and (min-width: 500px) {
    .nav-toggle {
        display: none;
    }
    nav {
        padding-top: 2em;
    }
    @supports (display: grid) {
        #app {
            display: grid;
            grid-template-areas:
                "header header"
                "navbar maincontent" 
                "footer footer";
            grid-template-columns: 1fr 7fr;
            grid-template-rows: 1fr 9fr 0.5fr;
        }
        section{
            display: grid;
            grid-template-areas:
                ". title"
                "period description";
            grid-template-columns: 1fr 5fr;
        }
    }
}
@media screen and (min-width: 720px) {
    section {
        margin-right: 5em;
    }
    @supports (display: grid) {
        .descriptionTitleGrid{
            display: grid;
            grid-template-areas: 
                "label lineTitle";
            grid-template-columns: 1fr 5fr;
        }
    }
}
@media screen and (min-width: 1080px) {
    section {
        margin-right: 10em;
        margin-left: 10em;
    }
    @supports (display: grid) {
        #app {
            display: grid;
            grid-template-areas:
                "navbar header ."
                "navbar maincontent ."
                "footer maincontent .";
            grid-template-columns: 1fr 10fr 1fr;
            grid-template-rows: 1fr 9fr 0.5fr;
        }
        .descriptionTitleGrid{
            display: grid;
            grid-template-areas: 
                "label lineTitle";
            grid-template-columns: 1fr 7fr;
        }
    }
}