/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 sept. 2016, 17:19:57
    Author     : delsenyb
*/

body {
    font-family: Helvetica, sans-serif;
    /*background-image:*/
    background: lightblue;
    background: linear-gradient(to bottom right, lightblue, blue);
    background-attachment: fixed;
}

nav ul {
    list-style-type: none;
    margin: 2px 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    font-family: Tahoma, sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.sideMenu {
    position: absolute;
    right: 0px; 
}

.sideMenu h3 {
    text-align: center;
    color: white;
    background-color: black;
    width:50%;
    padding-bottom: 8px;
    padding-top: 8px;
}

.sideMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;   
    width:50%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    background-color: #333;
}

.sideMenu a {
    border: 1px solid white;
    font-family: Tahoma, sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
}
.sideMenu a:hover {
    background-color: #111;
}

header {
    position: relative;
    margin: 2%;
}
header h1 {
    display: block;
    background-color: lightseagreen;
    margin: auto;
    width: 50%;
    height: 50%;
    padding: 10px;
    font-family: Verdana, sans-serif;
    text-align: center;
    box-shadow: 5px 5px black;
}

.CV {
    background-color: lightcyan;
    width: 70%;
    margin-top: 2%;
    padding: 2%;
}

.CV h2 {
    background-color: #4CAF50;
    padding: 10px;
    font-style: italic;
}

.CV p {
    padding-left: 12px;
}

#licence {
    text-align: center;
    color: white;
    background-color: #333;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-top: 5px;
}

#licence a {
    font-family: Tahoma, sans-serif;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    width:50%;
    margin: auto;
}

#licence a:hover {
    background-color: #111;
}