/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 oct. 2016, 15:43:25
    Author     : delsenyb
*/

/* Principal page style */
@import url('styles.css');


/* Side menu for CV part */

@media screen and (max-width: 800px) {
    .CV {
        margin: auto;
        background-color: lightcyan;
        margin-top: 2%;
        padding: 2%;
        margin-bottom:50px;
    }
}

@media screen and (min-width: 800px) {

    .CV {
        margin: auto;
        background-color: lightcyan;
        width: 60%;
        margin-top: 2%;
        padding: 2%;
        margin-bottom:50px;
    }

}

/* Style for the CV part */

.CV h2 {
    background-color: #4CAF50;
    padding: 10px;
    font-style: italic;
    clear: both;
}

.CV p {
    padding-left: 12px;
}

.float {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

dt {
    font-weight: bold;
}

dd div {
    text-align: right;
}
