/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 sept. 2016, 17:19:57
    Author     : delsenyb
*/


body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin:auto;
    width:75%;
    background-color: lightskyblue;
    position:relative;
    overflow:auto; 
    margin-bottom:40px;
}

/* Header */
header {
    position: relative;
    margin: 2%;
}
header h1 {
    display: block;
    background-color: lightseagreen;
    margin: auto;
    width: 50%;
    height: 50%;
    padding: 10px;
    font-family: Verdana, sans-serif;
    text-align: center;
    box-shadow: 5px 5px black;
}

/* Navigation menu */
nav ul {
    list-style-type: none;
    margin: 2px 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    font-family: Tahoma, sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/* Licence */
#licence {
    height:30px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #333;
    /*text-align: center;*/
    font-size: xx-small;
}


#licence a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    width:50%;
    height: 100%;
    margin: auto;
    padding: 5px;
}

#licence a:hover {
    background-color: #111;
}

.botleft {
    float: left;
    margin-right: 10px;
} 

.botleft img {
    max-width: 100%;
    height: auto;
}

.botright {
    margin-left: 10px;
    clear: left;
}

