/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 sept. 2016, 17:19:57
    Author     : delsenyb
*/

html {
    background: lightcyan;
}
body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin:auto;
    width:75%;
    position:relative;
    background-color: #B9FBBE;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.container{
    position:static;
    background:  #B9FBBE;
    margin-bottom: 0px;
    padding-bottom: 0px;
    overflow:hidden; 
}
html, body { height: 100%; }

/* Header */
header {
    position: relative;
    background : #3D4945;
    color: #FB973B;
}
header h1 {
    display: block;
    margin: auto;
    padding: 0.5%;
    text-align: center;
}

/* Footer */
footer {
    position: relative;
    bottom: 0px;
    background : #333;
    color: #C8986B;
}
/* Navigation menu */
nav ul {
    list-style-type: none;
    margin: 2px 0px;
    padding: 0px;
    overflow: hidden;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    font-family: Tahoma, sans-serif;
    display: block;
    text-align: center;
    color: #FB973B;
    padding: 8px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #5F9582;
    color:#B9FBBE;
}

.active {
    background-color: #B9FBBE;
    color:#3D4945;
    font-weight: bold ;
}

/* Licence */
#licence {
    height:30px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #333;
    /*text-align: center;*/
    font-size: xx-small;
}


#licence a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    width:50%;
    height: 100%;
    margin: auto;
    padding: 5px;
}

#licence a:hover {
    background-color: #111;
}

.botleft {
    float: left;
    margin-right: 10px;
} 

.botright {
    margin-left: 10px;
    clear: left;
}

