/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 sept. 2016, 17:19:57
    Author     : delsenyb
*/


body {
    font-family: Helvetica, sans-serif;
    /*background-image:*/
    background: lightblue;
    background: linear-gradient(to bottom right, lightblue, blue);
    background-attachment: fixed;
}

/* Header */
header {
    position: relative;
    margin: 2%;
}
header h1 {
    display: block;
    background-color: lightseagreen;
    margin: auto;
    width: 50%;
    height: 50%;
    padding: 10px;
    font-family: Verdana, sans-serif;
    text-align: center;
    box-shadow: 5px 5px black;
}

/* Navigation menu */
nav ul {
    list-style-type: none;
    margin: 2px 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    font-family: Tahoma, sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/* Licence */
#licence {
    text-align: center;
    color: white;
    background-color: #333;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-top: 5px;
    clear: both;
}

#licence a {
    font-family: Tahoma, sans-serif;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    width:50%;
    margin: auto;
}

#licence a:hover {
    background-color: #111;
}